In [94]:
import pandas as pd 
import numpy as np

In [95]:
data = pd.read_csv('course_lead_scoring.csv')
df = data.copy()

In [96]:
df.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

In [97]:
df.isnull().sum()

lead_source                 128
industry                    134
number_of_courses_viewed      0
annual_income               181
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

In [98]:
df.dtypes

lead_source                  object
industry                     object
number_of_courses_viewed      int64
annual_income               float64
employment_status            object
location                     object
interaction_count             int64
lead_score                  float64
converted                     int64
dtype: object

In [ ]:
df.columns
#

Index(['lead_source', 'industry', 'number_of_courses_viewed', 'annual_income',
       'employment_status', 'location', 'interaction_count', 'lead_score',
       'converted'],
      dtype='object')

In [100]:
categorical = ['lead_source', 'industry','employment_status', 'location', 'lead_score','converted']

numerical = ['number_of_courses_viewed','annual_income', 'interaction_count']

In [101]:
df[categorical].isnull().sum()

lead_source          128
industry             134
employment_status    100
location              63
lead_score             0
converted              0
dtype: int64

In [102]:
categoricaldf=df[categorical]
categoricaldf.fillna('NA',inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_25796\1338283366.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricaldf.fillna('NA',inplace=True)

In [103]:
categoricaldf.isnull().sum()

lead_source          0
industry             0
employment_status    0
location             0
lead_score           0
converted            0
dtype: int64

In [104]:
numdf=df[numerical]
numdf.fillna(0.0,inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_25796\3898251817.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numdf.fillna(0.0,inplace=True)

In [105]:
numdf.isnull().sum()

number_of_courses_viewed    0
annual_income               0
interaction_count           0
dtype: int64

In [112]:
dfnew= pd.concat([categoricaldf, numdf], axis=1)
dfnew.head()

,lead_source,industry,employment_status,location,lead_score,converted,number_of_courses_viewed,annual_income,interaction_count
0,paid_ads,NA,unemployed,south_america,0.94,1,1,79450.0,4
1,social_media,retail,employed,south_america,0.80,0,1,46992.0,1
2,events,healthcare,unemployed,australia,0.69,1,5,78796.0,3
3,paid_ads,retail,NA,australia,0.87,0,2,83843.0,1
4,referral,education,self_employed,europe,0.62,1,3,85012.0,3

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression
df_fultrain,df_test=train_test_split(dfnew,test_size=0.2,random_state=1)
df_train,df_val=train_test_split(df_fultrain,test_size=0.25,random_state=1)

In [117]:
df_train=df_train.reset_index(drop=True)
df_val=df_val.reset_index(drop=True)
df_test=df_test.reset_index(drop=True)