In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('car_fuel_efficiency.csv')

In [3]:
pd.__version__

'2.3.2'

In [6]:
df.shape

(9704, 11)

In [7]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [8]:
df['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [10]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [14]:
df['fuel_efficiency_mpg'].max()

np.float64(25.96722204888372)

In [15]:
df['horsepower'].median()

np.float64(149.0)

In [16]:
df['horsepower'].value_counts()

horsepower
152.0    142
145.0    141
151.0    134
148.0    130
141.0    130
        ...
40.0       1
57.0       1
245.0      1
252.0      1
61.0       1
Name: count, Length: 192, dtype: int64

In [20]:
df['horsepower'].fillna(152.0,inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_15996\66566874.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['horsepower'].fillna(152.0,inplace=True)

In [21]:
df['horsepower'].isnull().sum()

np.int64(0)

In [22]:
df['horsepower'].median()

np.float64(152.0)

In [23]:
df['vehicle_weight'].sum()

np.float64(29124430.759692907)

In [24]:
asiadata= df[df['origin']=='Asia']

In [31]:
x =asiadata[['vehicle_weight','model_year']].head(7)
x=np.array(x)

In [32]:
x

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [33]:
xtx=np.dot(x,x.T)

In [36]:
xtxinv= np.linalg.inv(xtx)

In [39]:
y= np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
xtxx= np.dot(x.T,xtxinv)

In [46]:
xtxxy= np.dot(xtxx,y)
xtxxy

array([ 0.14501345, -0.63631237])

In [49]:
np.sum(xtxxy)

np.float64(-0.4912989164442476)